# Server Configuration
SERVER_PORT=8084

# Database Configuration
DB_URL=jdbc:oracle:thin:@localhost:1521/FREEPDB1
DB_USER=gerai_user
DB_PASSWORD=votre_mot_de_passe_oracle

# Keycloak Configuration
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/gerai

# Kafka Configuration
KAFKA_SERVERS=localhost:9092

# Email Configuration (SMTP GMAIL)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre_email@gmail.com
# Note : Utilisez un "Mot de passe d'application" Google, pas votre mot de passe habituel.
SMTP_PASS=votre_app_password_16_caracteres