# Server Configuration
SERVER_PORT=8085

# Database Configuration
DB_URL=jdbc:oracle:thin:@localhost:1521/FREEPDB1
DB_USER=gerai_user
DB_PASSWORD=votre_mot_de_passe_oracle

# Keycloak Configuration
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/gerai

# Infrastructure
KAFKA_SERVERS=localhost:9092
CORS_ALLOWED_ORIGIN=http://localhost:4200

# Test Credentials
TEST_ADMIN_EMAIL=admin_rh@gerai.com
TEST_ADMIN_PASSWORD=votre_password
TEST_CHEF_EMAIL=chef@gerai.com
TEST_CHEF_PASSWORD=votre_password