# ═══════════════════════════════════════════════════════════
#  GerAI — Database Model (Template)
#  Copiez ce fichier vers .env et complétez les valeurs
# ═══════════════════════════════════════════════════════════

# Mot de passe administrateur Oracle (SYS)
ORACLE_ROOT_PASSWORD=votre_password_root_ici

# Nom de la Pluggable Database
DB_NAME=FREEPDB1

# Utilisateur de l'application
DB_USER=gerai_user
DB_PASSWORD=votre_password_application_ici